// COLORS
$color-primary: #9370d8;
$color-primary-bright: #ba55d3;
$color-primary-dark: #7b68ee;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horisontal: 6rem;
