// COLORS
$color-primary: #9370d8;
$color-primary-bright: #c627ee;
$color-primary-dark: #7b68ee;

$color-secondary-bright: #f121bd;
$color-secondary-dark: #3d0630;

$color-tertiary-bright: #f12166;
$color-tertiary-dark: #570a23;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(204, 201, 201);

$color-grey-dark: #777;
$color-grey-dark-2: #888;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horisontal: 6rem;
