*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* 	1rem is equal to 10px */
	/* 	because 10px / 10 is equal to 1rem */
	/* 	therefore 30px is equal to 3rem */
	/* 	the default font size of the browser is 16px */
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}
